@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    --header-accent: #791717;

    --bracket: #a16207;
    --plus: #16a34a;
    --minus: #dc2626;
    --times: #2563eb;
    --divides: #a16207;
    --power: #9333ea;
    --equals: #db2777;
    --sqrt: #4c8a2a;
    --floor: #5a6310;
    --ceiling: #5a6310;
    --binomial: #975619;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 84%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 84%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 84%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 84%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 84%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 84%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --header-accent: #d89e9e;

    --bracket: #b89e00;
    --plus: #4ad380;
    --minus: #ef4444;
    --times: #60a5fa;
    --power: #a78bfa;
    --equals: #ffafc3;
    --sqrt: #b5cea8;
    --floor: #d1d358;
    --ceiling: #d1d358;
    --binomial: #fad48d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .oeis a:not(.anumber) {
    @apply text-cyan-700 hover:underline dark:text-cyan-300;
  }

  .anumber {
    @apply rounded-sm bg-[#eeeeff] px-1 py-0.5 font-mono text-sm text-[#31313e] outline outline-1 outline-[#a5a5b4] transition-colors duration-100 hover:bg-[#a5a5b4] hover:no-underline dark:bg-[#211d41] dark:text-[#eeeeff] dark:outline-[#3b385f] dark:hover:bg-[#3b385f];
  }
}
